<div class="equalHMR eq">
    <img [src]="member.photo" alt="">
    <span>{{ member.name }}</span>
    <span>{{ member.position }}</span>
    <a *ngIf="member.facebook" [href]="member.facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a *ngIf="member.linkedin" [href]="member.linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>    
</div>
