<banner [title]="'​screen:deal'" ></banner>
<content-text>
    <h1>DealMatrix Screen is here!</h1>
    <h2>Sign up for BETA</h2>
    <p>Our screening platform is live in BETA as of 21 November.
         We are excited to show you the future of screening startups and investment decision making.</p>
    <p>Sign up below and we will get in contact with you to schedule your on-boarding and presentation call with our CEO.</p>
</content-text>