<banner [title]="'pitch:score'" ></banner>
<content-text>
    <h1>DealMatrix Score - next gen event solution</h1>
    <p>
        DealMatrix Score started of as pitch scoring app. 
        After working with you in many events across the globe, we now tailored the solution 
        to cover not only your pitch scoring activities but to also allow you to manage your startup applications - 
        all at once!
    </p>

    <p>Your benefits:</p>
    <ul>
        <li *ngFor="let benefit of benefits">{{ benefit }}</li>
    </ul>

    <p>Get in touch with us below and we will respond within 24 hours.</p>
</content-text>