<banner [title]="'build:network'" ></banner>
<content-text>
    <h1>Let's get in touch</h1>

    <contact-form></contact-form>

    <b>Give us a call!</b>
    <span>AT: +43 660 136 2022</span>

    <b>Send us an email!</b>
    <span>sales@dealmatrix.com</span>

    <b>Or send us something nice :)</b>
    ​<span>Aspernbrückengasse 2/11, A-1020 Vienna</span>

    <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 250px; margin-top: 10px; margin-bottom: 10px;" src="//www.weebly.com/weebly/apps/generateMap.php?map=google&amp;elementid=426571850211553750&amp;ineditor=0&amp;control=3&amp;width=auto&amp;height=250px&amp;overviewmap=0&amp;scalecontrol=0&amp;typecontrol=0&amp;zoom=15&amp;long=16.37381890000006&amp;lat=48.2081743&amp;domain=www&amp;point=1&amp;align=1&amp;reseller=false"></iframe>    
</content-text>