<p *ngIf="formRef.valid && descriptionRef.untouched">
    Hey {{ formRef.value.name }} please write a detailed pitch or description!
</p>
<p *ngIf="formRef.valid && descriptionRef.touched">
    Okay {{ formRef.value.name }} you're good to go. Please send the form to us!
</p>

<form class="form-horizontal" #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <fieldset>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-3 control-label" for="name">Name</label>  
        <div class="col-md-6">
        <input ngModel required id="name" name="name" type="text" placeholder="Name" class="form-control input-md">
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-3 control-label" for="lastname">Lastname</label>  
        <div class="col-md-6">
        <input ngModel required id="lastname" name="lastname" type="text" placeholder="Lastname" class="form-control input-md">
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-3 control-label" for="email">E-mail</label>  
        <div class="col-md-6">
        <input ngModel id="email" required name="email" type="email" placeholder="E-mail" class="form-control input-md">
        </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
        <label class="col-md-3 control-label" for="description">Description</label>
        <div class="col-md-6">                     
            <textarea #descriptionRef="ngModel" ngModel class="form-control" id="description" name="description" cols="6"></textarea>
        </div>
        </div>

        <!-- Button -->
        <div class="form-group">
        <label class="col-md-3 control-label" for="send"></label>
        <div class="col-md-6">
            <button  id="send" name="send" class="btn btn-primary" >Send</button>
            <p *ngIf="postMsg">{{ postMsg }} We'll be in contact shortly!</p>
        </div>
        </div>

    </fieldset>
</form>