<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button (click)="onMenuClick()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">DEALMATRIX</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1" [class.collapse]="!menuIsClicked">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a [routerLink]="['/']" (click)="onItemsClick()">
                  Home
                </a>
              </li>

              <li>
                <a [routerLink]="['/startups']" (click)="onItemsClick()">
                  Startups
                </a>
              </li>

              <li>
                <a [routerLink]="['/investors']" (click)="onItemsClick()">
                  Investors
                </a>
              </li>

              <li>
                <a [routerLink]="['/events']" (click)="onItemsClick()">
                  Events
                </a>
              </li>

              <li>
                <a [routerLink]="['/corporate']" (click)="onItemsClick()">
                  Corporate
                </a>
              </li>

              <li>
                <a [routerLink]="['/contact']" (click)="onItemsClick()">
                  Contact
                </a>
              </li>  
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>