<banner [title]="'pitch:be found'"></banner>
<content-text>
    <h1>DealMatrix pitches you up!</h1>
    <p>Join our startup community and have the option of being scouted and sourced for tailor-fit 
        investments and customers. Over the past year we have successfully managed several international 
        startup scouting and sourcing challenges.</p>

    <p>All you need to do, is answer the following questions:</p>
</content-text>