<banner [title]="'scout:source'"></banner>
<content-text>
    <h1>DealMatrix Enterprise Solutions</h1>
    <h2>The future of corporate innovation programs</h2>
    <p>Your time is precious so we will make it brief:</p>

    <ul>
        <li *ngFor="let feature of features">{{ feature }}</li>
    </ul>

    <p>Get in touch with us below to take advantage of all we have to offer:</p>
</content-text>