<banner [title]="'Pitch.Screen.Deal'" [subtitle]="'Investment  Management  simplified'" ></banner>
<content-text>
    <h1></h1>
    <p>

    </p>

    <h1>It started with a pitch...</h1>
    <div class="row">
    <div class="col-xs-12 col-md-8">
        <h2>DealMatrix Score</h2> 
        <b>Enhance your event experience with DealMatrix Score App.</b>
        <ul>
            <li *ngFor="let feature of features">{{ feature }}</li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <img src="https://dealscreening.net/uploads/9/1/0/4/91048542/1477997588.png" alt="">
    </div>
    </div>    
    
    <h1>...and continues with screening...</h1>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img class="product" src="https://dealscreening.net/uploads/9/1/0/4/91048542/screenshots-003_orig.png" alt="">
        </div>    
        <div class="col-xs-12 col-md-6">
            <h3>Screen Lite</h3>
            <ul>
                <li *ngFor="let feature of screenLiteFeatures">{{ feature }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Screen</h3>
            <ul>
                <li *ngFor="let feature of screenFeatures">{{ feature }}</li>
            </ul>
        </div>        
        <div class="col-xs-12 col-md-6">
            <img class="product right" src="https://dealscreening.net/uploads/9/1/0/4/91048542/screenshots-001_orig.png" alt="">
        </div>    
    </div>

    <h1>...followed by successful deals.</h1>
    <companies></companies>

    <h1>Meet the team</h1>
    <team></team>

</content-text>
